@model IEnumerable<BalanceSheet.Models.BookingViewModels>

@{
    var ItemCount = 0;
}

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>@Html.DisplayNameFor(model => model.Kind)</th>
        <th>@Html.DisplayNameFor(model => model.Date)</th>
        <th>@Html.DisplayNameFor(model => model.Amount)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@(++ItemCount)</td>
            <td>@Html.DisplayFor(m => item.Kind)</td>
            <td>@Html.DisplayFor(m => item.Date)</td>
            <td>@Html.DisplayFor(m => item.Amount)</td>
        </tr>
    }
</table>

