@using BalanceSheet.Views
@using BalanceSheet.Models
@using PagedList
@using PagedList.Mvc

@model IPagedList<BalanceSheet.Models.BookingViewModels>

@{
    var ItemCount = 0;
}

@helper ColoredText(AccountEnum kind) {
    if (Html.IsIncome(kind))
    {
        <span style="color: blue" )">@kind.ToString()</span>
    }
    else
    {
        <span style="color: red" )">@kind.ToString()</span>
    }
}  

<table class="table table-bordered table-hover">
    <tr>
        <th class="col-md-1">#</th>
        <th class="col-md-1">@Html.DisplayNameFor(model => model.FirstOrDefault().Kind)</th>
        <th class="col-md-2">@Html.DisplayNameFor(model => model.FirstOrDefault().Date)</th>
        <th class="col-md-2">@Html.DisplayNameFor(model => model.FirstOrDefault().Amount)</th>
        <th class="col-md-6">@Html.DisplayNameFor(model => model.FirstOrDefault().Remark)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@(++ItemCount)</td>
            <td>@ColoredText(item.Kind)</td>
            <td>@Html.DisplayFor(m => item.Date)</td>
            <td>@Html.DisplayFor(m => item.Amount)</td>
            <td>@Html.TextAreaFor(m => item.Remark, new { @class="form-control" })</td>
        </tr>
    }
</table>
@if (ViewBag.year == null && ViewBag.month == null)
{
    @Html.PagedListPager(Model, page => Url.Action("Index", "Home", new {area = "", page}));
}
else
{
    @Html.PagedListPager(Model, page => Url.Action("Index", "Home", new { area = "", yyyy = ViewBag.year, mm = ViewBag.month, page}));
}

@section scripts
{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}
