@model BalanceSheet.Models.BookingViewModels
@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="well">
        @using (Html.BeginForm(actionName: "Create", controllerName: "Home", method: FormMethod.Post, htmlAttributes: new { @class = "form-horizontal" }))
        { 
            <div class="form-group" style="margin-top: 40px">
                @Html.LabelFor(model => model.Kind, htmlAttributes: new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.EnumDropDownListFor(model => model.Kind, new { @class="form-control" })
                    @Html.ValidationMessageFor(model => model.Kind)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class="control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class= "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amount)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class="form-control" } })
                    @Html.ValidationMessageFor(model => model.Date)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.Remark, new { @class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Remark)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-4">
                    <input type="submit" value="送出" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>

    <div class="row">
        @Html.Action("BalanceList")
        @*Html.Action("BalanceListQry")*@
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        jQuery.validator.addMethod('earlierthentoday', function (value, element, param) {
            var today = Date.parse(new Date());
            var thedate = Date.parse(value);
            if (thedate > today) {
                return false;
            }
            else { return true; }
        });
        jQuery.validator.unobtrusive.adapters.add(
            'earlierthentoday', function (options) {
                options.rules['earlierthentoday'] = '#' + options.params.other;
                if (options.message) {
                    options.messages['earlierthentoday'] = options.message;
                }
            });
    </script>
}


